nav.navbar {
  position: fixed;

  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-between;
  align-items: center;

  background: #FFF;
}

div.navbar-brand-container {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a.navbar-brand {
  color: #247FEA;
  
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

div.navbar-hamburger-menu {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

div.navbar-hamburger-menu:hover {
  background-color: rgba(0, 0, 0, 0.03);  
  cursor: pointer;
}

div.navbar-hamburger-menu-active {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  background-color: rgba(0, 0, 0, 0.05);
}

div.navbar-hamburger-menu-active:hover {
  background-color: rgba(0, 0, 0, 0.08);  
  cursor: pointer;
}

ul.navbar-menu {
  display: none;
}

ul.navbar-menu-active {
  width: 100vw;
}

li.navbar-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.navbar-menu-link {
  background-color: #FFF;
  color: #000;
  
  height: 100%;
  width: 100%;
  
  display: flex;
  padding: 10px 20px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: flex-start;
}

form {
  height: 100%;
  width: 100%;
}

.navbar-menu-link:hover {
  background-color: rgba(0, 0, 0, 0.03);  
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  div.navbar-hamburger-menu {
    display: none;
  }

  ul.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  
  li.navbar-menu-item {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .navbar-menu-link {
    display: flex;

    padding: 0 10px;
    align-items: center;

    font-size: 12px;
  }
}