* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  
  font-family: Poppins, sans-serif;
}

body {
  display: flex;

  width: 100%;
  height: 100vh;

  background: #F2F2F2;
}

div.body-container {
  display: flex;
  padding-top: 50.67px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;

  background: #F2F2F2;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}
