div.page-body-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

a.back-button {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  align-self: flex-start;
}

div.back-button-image {
  display: flex;
  padding: 5px 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

p.back-button-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

div.main-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 20px;
  background: #FFF;
}

div.main-body-header {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

p.main-body-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p.main-body-subtitle {
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

div.main-body-content {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

div.create-module-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 100%;
}

a.create-module-button {
  display: flex;
  padding: 7px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  background: #155D1B;

  color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

div.module-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;

  border-radius: 10px;
  border-top: 1px solid #9ECBFF;
  border-right: 1px solid #9ECBFF;
  border-bottom: 1px solid #9ECBFF;
  border-left: 5px solid #9ECBFF;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

div.module-header {
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

p.module-name {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p.module-description {
  align-self: stretch;

  color: #000;
  font-family: Poppins;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

div.module-buttons {
  display: flex;
  padding: 0px 10px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

div.module-buttons-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.module-detail-button {
  display: flex;
  padding: 7px 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  background: #2357DD;

  color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

div.module-buttons-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form.module-delete-wrapper {
  width: fit-content;
}
