div.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

main.body-main-container {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

header.body-header {
  color: #000;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

div.main-flex-container {
  display: flex;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

div.inner-flex-container, form.form-container {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 20px;
  background: #FFF;
}

input#materi-picture-input {
  display: none;
}

section.materi-picture-section {
  display: flex;
  max-width: 300px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

img.materi-picture {
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 50px;
  border: 0.2px solid #000;
  background: #FFF;

  object-fit: cover;
}

img.materi-picture.edit:hover {
  cursor: pointer;
}

section.materi-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

div.materi-detail-wrapper {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

div.materi-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.materi-label {
  color: #000;
  font-family: Poppins;
  font-size: .5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

div.materi-value-container, input.form-input {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-radius: 10px;
  background: #F0F0F3;
}

p.materi-value, input.form-input {
  color: #000;
  font-family: Poppins;
  font-size: .625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input.form-input:hover {
  filter: brightness(0.95);
}

input.form-input:focus {
  outline: none;
}

input.form-input::placeholder {
  color: #A2A5B5;
}

div.button-wrapper {
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div.button-form-wrapper {
  width: 100%;
  display: flex;
  max-width: 300px;
  padding: 15px 10px;
  justify-content: space-between;
  align-items: center;
  /* align-self: stretch; */
}

button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

#button-ubah {
  display: flex;
  padding: 7px 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  background: #2357DD;

  color: #FFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#button-batal, #button-simpan {
  display: flex;
  width: 110px;
  padding: 7px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: bold;
  color: white;
  border-radius: 16px;
}

#button-batal {
  background: var(--Red, #E71313);
}

#button-simpan {
  background: var(--Green, #108910);
}

p.input-error {
  color: maroon;
  font-size: .625rem;
  align-self: flex-start;
}

p.input-error.image {
  margin-top: .625rem;
  text-align: center;
  align-self: center;
}

input.form-input.error {
    border: 1px solid maroon;
}

@media (min-width: 1025px) {
  html {
    font-size: 21px;
  }
  
  div.inner-flex-container, form.form-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  section.materi-picture-section {
    flex: 1 0 0;
  }

  img.materi-picture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  section.materi-detail-section {
    flex: 1 0 0;
  }
}
